/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.project
.settings
.buildpath
.travis.yml
LICENSE
README.md
UPGRADE.md
vendor/*
.DS_Store
thumbsdb
app/cache/*
app/logs/*
temp/*
uploaded/thumbnails/*
logs/*
*.sublime-*
log/*
installer_files
web/bundles/*
app/config/parameters.yml
UPGRADE-2.2.md
UPGRADE-2.3.md
UPGRADE-2.4.md
*.iml
*.idea
atlassian-ide-plugin.xml
/nbproject/private/
/nbproject/
